<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="site">
      <div class="sidebar" id="sidebar">
        
        {% include header.html %}

        <div class="posts">
          <ul class="posts-list">
            {% for post in site.posts %}
              <li class="post-link">
                <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
                  <span class="post-date">{{ post.date | date_to_string }}</span>
                  {{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        {% include footer.html %}

      </div>

        {{ content }}

    </div>

    {% include javascripts.html %}

  </body>

</html>
